ion-list.talk-list
  .item.item-avatar(
    ng-repeat='subscribe in subscribes | filter: filterValid',
    type='item-text-wrap',
    on-tap="Api.jumpTo(subscribe.clip, chats)",
    collection-item-width="'100%'",
    collection-item-height="64",
    ng-style="{left: 0,right: 0}"
    )
    img.game-logo(ng-if='subscribe["@clip"]["@game"].logo' preload-image default-image="img/loading.png" ng-src='{{subscribe["@clip"]["@game"].logo?subscribe["@clip"]["@game"].logo:""}}')
    .talk-tip
      i.icon.ion-ios-circle-filled.color-r(ng-if="subscribe.unread")
      b {{subscribe["@clip"].content}}
      br
      span {{subscribe['@clip'].lastCommentData.content}}
      br
      small {{subscribe['@clip'].lastCommentUserData.userName}} {{subscribe._modified | timeBefore}}
    span.item-note(ng-class='{first:$first}')
      img(class="orientation-{{subscribe['@clip']['@game'].orientation}}" ng-if="subscribe['@clip'].img['absUrl']" preload-image default-image="img/loading.png" ng-src="{{subscribe['@clip'].img['absUrl']}}")

//- subscribe
